html {
    font-size: 22px;
}

body {
    min-height: 100vh;
<<<<<<< HEAD
=======
    max-width: 800px;
>>>>>>> 3d2e502adf0cda87f7d8765a432c40c3027cb4f9
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
<<<<<<< HEAD
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: border-box;
}

.main-wrapper {
    max-width: 800px;
    margin: 0 auto;
}


figure {
margin: 0;
max-width: 100%;
}

 figure img {
 max-width: 100%;
 height: auto;
 display: block;
=======
>>>>>>> 3d2e502adf0cda87f7d8765a432c40c3027cb4f9
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #333;
    padding: 1rem;
}